@using System.Diagnostics
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Super Recipe App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
	    <div class="nav-item px-3">
		    <NavLink class="nav-link" href="recipes">
			    <span class="oi oi-list" aria-hidden="true"></span> Recipes
		    </NavLink>
	    </div>
	    <div class="nav-item px-3">
		    <NavLink class="nav-link" href="editor">
			    <span class="oi oi-pencil" aria-hidden="true"></span> Recipe Editor
		    </NavLink>
	    </div>
	    <div class="nav-item px-3">
			<a href="#" class="nav-link" onclick="@OpenRecipeFolder">
			    <span class="oi oi-folder" aria-hidden="true" 
			          ></span> Open Recipe Folder
		    </a>
	    </div>
    </nav>
</div>

@code {
	private bool collapseNavMenu = true;
	private readonly string _folderPath = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "MyRecipes");

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	private void OpenRecipeFolder()
	{
		var psi = new ProcessStartInfo
		{
			FileName = "explorer.exe",
			Arguments = _folderPath
		};
		Process.Start(psi);
	}

}