@using MyRecipesLib.Model
<div class="form-group gap-4">
    <label>Recipe Steps</label>
    <button @onclick="AddStep" type="button" class="btn btn-secondary mb-2">Add Step</button>
    <ol>
        @for (var i = 0; i < RecipeSteps.Count; i++)
        {
            var stepIndex = i;
            <li>
                <RecipeStepFormGroup Step="@RecipeSteps[stepIndex]" OnRemove="() => RemoveStep(stepIndex)"/>
            </li>
        }
    </ol>
</div>

@code {

    [Parameter]
    public List<RecipeStep> RecipeSteps { get; set; }

    private void AddStep()
    {
        RecipeSteps.Add(new RecipeStep());
    }

    private void RemoveStep(int index)
    {
        RecipeSteps.RemoveAt(index);
    }

}